<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>
    <mat-card-content>
      <p></p>
      <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
        <div class="row">
          <div>
            <mat-form-field appearance="outline">
                <mat-label>Departure Date: </mat-label>
                <input matInput [matDatepicker]="departureDate" [(ngModel)]="departureDateDateForm" name="departureDate">
                <mat-datepicker-toggle [for]="departureDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #departureDate></mat-datepicker>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Departure Time: </mat-label>
                <input name ="departureTime" [(ngModel)]="departureTime" matInput required>
            </mat-form-field><br>

            <mat-form-field appearance="outline">
              <mat-label>Arrival Date: </mat-label>
              <input matInput [matDatepicker]="arrivalDate" [(ngModel)]="arrivalDateDateForm" name="arrivalDate">
              <mat-datepicker-toggle [for]="arrivalDate" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #arrivalDate></mat-datepicker>
          </mat-form-field><br>
          <mat-form-field appearance="outline">
              <mat-label>Arrival Time: </mat-label>
              <input name ="arrivalTime" [(ngModel)]="arrivalTime" matInput required>
          </mat-form-field><br>

            <mat-form-field appearance="outline">
              <mat-label>Departure: </mat-label>
              <input matInput name="departure" [(ngModel)]="flight.departure" required>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
              <mat-label>Arrival: </mat-label>
              <input name ="arrival" [(ngModel)]="flight.arrival" matInput required>
            </mat-form-field><br>
            <mat-form-field appearance="outline">
              <mat-label>Price: </mat-label>
              <input name ="price" [(ngModel)]="flight.price" matInput required type="number">
            </mat-form-field><br>
            <mat-form-field appearance="outline">
              <mat-label>totalNumberOfSeats: </mat-label>
              <input name ="totalNumberOfSeats" [(ngModel)]="flight.totalNumberOfSeats" matInput required type="number">
            </mat-form-field><br>
          </div>
        </div>
        <br>
        <button color="primary" style="width: 45%; margin-left: 27%;" mat-raised-button type="submit">Submit</button><br>
      </form>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
    </mat-card-content>
  </mat-card>



