<mat-card>
<mat-form-field appearance="outline">
  <mat-label>Search flights by date</mat-label>
  <input type="date" matInput [(ngModel)]="date"/>
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>
  <mat-form-field class="ml" appearance="outline">
    <mat-label>Flights From</mat-label>
    <input type="text" matInput [(ngModel)]="departure" placeholder="City"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <mat-form-field class="ml" appearance="outline">
    <mat-label>Flights To</mat-label>
    <input type="text" matInput [(ngModel)]="arrival" placeholder="City"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <mat-form-field class="ml" appearance="outline">
    <mat-label>Passengers</mat-label>
    <input type="number" matInput [(ngModel)]="availableSeats" placeholder="Number of passengers"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field >
  <button class="btn" mat-mini-fab color="primary" (click)="searchFlights()">Search</button>
  <button *ngIf="isSearched" mat-button mat-ripple (click)="clearSearch()">
    <mat-icon color= "primary" matTooltip="clear search"> cancel_presentation</mat-icon>
  </button>
</mat-card>

<div class="container" *ngIf="isSearched">
<div class="table-header" *ngIf="isSearched">
  <p class="table-title">Flights</p>
  <p *ngIf="notFound" class="table-title"> No flights found for your search criteria!</p>
</div>
<table *ngIf="isSearched" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Departure">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Departure</th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.departure}}</td>
  </ng-container>
  <ng-container matColumnDef="Arrival">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Arrival</th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.arrival}}</td>
  </ng-container>
  <ng-container matColumnDef="DateTimeDeparture">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Date and time of Departure </th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.departureDateTime}}</td>
  </ng-container>
  <ng-container matColumnDef="DateTimeArrival">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Date and time of Arrival </th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.arrivalDateTime}}</td>
  </ng-container>
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Price</th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.price}}</td>
  </ng-container>
  <ng-container matColumnDef="TotalPrice">
    <th mat-header-cell *matHeaderCellDef class="cell-center"> Total price</th>
    <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.totalPrice}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<img class="home-img" [src]="path" [alt]="alttext">

