<div class="container">
    <div class="table-header">
      <p class="table-title">Ratings</p>
      <p class="avg">Average rating: {{averageRating}}</p>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Guest name</th>
        <td mat-cell *matCellDef="let ratingHost" class="cell-center">{{ratingHost.hostName}}</td>
      </ng-container>
      <ng-container matColumnDef="Surname">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Guest surname</th>
        <td mat-cell *matCellDef="let ratingHost" class="cell-center">{{ratingHost.hostSurname}}</td>
      </ng-container>
      <ng-container matColumnDef="Rate">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Rate </th>
        <td mat-cell *matCellDef="let ratingHost" class="cell-center">{{ratingHost.rate}}</td>
      </ng-container>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
        <td mat-cell *matCellDef="let ratingHost" class="cell-center">{{ratingHost.date}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


