<mat-card elevation="5" fxFlex class="content">
    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>
    <mat-card-content>
      <p></p>
      <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
        <div class="row" *ngIf="accommodation">
            <div>
            <mat-form-field appearance="outline">
              <mat-label>Name: </mat-label>
              <input matInput name="name" [(ngModel)]="accommodation.name" disabled>
            </mat-form-field>
            <div></div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index" style="display: inline-block">
              <li (click)="countStar(star)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)" (mouseout)="removeClass(star)"> ★
              </li>
            </ul>
          </div>
        </div>
        <br>
        <button color="primary" style="width: 45%; margin-left: 27%;" mat-raised-button type="submit">Submit</button><br>
      </form>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
    </mat-card-content>
  </mat-card>
