<mat-card elevation="5" fxFlex class="content" style="margin-top:150px;">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
            <mat-form-field appearance="outline">
                <mat-label>Email: </mat-label>
                <input name="email" [(ngModel)]="request.email" matInput  required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Password: </mat-label>
                <input name="password" [(ngModel)]="request.password" matInput  required type="password">
            </mat-form-field>
            <br>
            <label *ngIf="message != ''" style="color: red;">{{message}}</label>
            <br>
            <button style="width: 45%; margin-left: 27%;" mat-raised-button color="primary" mat-raised-button
                type="submit">Login</button>
        </form>
      <br>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
    </mat-card-content>

</mat-card>
